{% extends "layout.html" %}
{% block title %}   Home    {% endblock %}

{%block externalFile%}
<link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='styles/home.css') }}" />
{% endblock %}

{% block content %}
<div class="container">
    <img src="/static/img/Logo_unc.jpeg" alt="Logo de l'université de la Nouvelle-Calédonie" width="200" height="200">
    <p>Veuillez sélectionner le fichier .csv à traiter.</p>
    <form method = "POST" enctype="multipart/form-data">
        <input type ="file" name = "file"/>
        <input type = "submit" value = "Confirmer"/>
    </form>
</div>
{% endblock %}