<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <p class="message">Coucou {{ name }} vous êtes sur notre site</p>
        <div class="navbar">
            <a href="{{ url_for('listeCandidat') }}" class="navbar-item">Liste Complète</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>UNC 2021</p>
            </footer>
        </div>
    </body>
</html>