<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>

    <body>
        <p class="message">Coucou {{ name }} vous êtes sur notre site</p>
        <div class="navbar">
            <a href="{{ url_for('listeCandidat') }}" class="navbar-item">Liste Complète</a>
        </div>

        {% block content %}
        {% endblock %}
</body>
</html>